:root {
    --ion-color-primary: #1b3a61;
    --ion-color-primary-rgb: 27, 58, 97;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #183355;
    --ion-color-primary-tint: #324e71;

    --ion-color-secondary: #49bfa8;
    --ion-color-secondary-rgb: 73, 191, 168;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #40a894;
    --ion-color-secondary-tint: #5bc5b1;

    --ion-color-tertiary: #f7941d;
    --ion-color-tertiary-rgb: 247, 148, 29;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #da821a;
    --ion-color-tertiary-tint: #f89f34;

    --ion-color-tertiary: #8b5cf6;
    --ion-color-tertiary-rgb: 139, 92, 246;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #7a51d8;
    --ion-color-tertiary-tint: #976df7;

    --ion-color-success: #10b981;
    --ion-color-success-rgb: 16, 185, 129;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ea372;
    --ion-color-success-tint: #28c08e;

    --ion-color-warning: #f59e0b;
    --ion-color-warning-rgb: 245, 158, 11;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #d88b0a;
    --ion-color-warning-tint: #f6a823;

    --ion-color-danger: #ef4444;
    --ion-color-danger-rgb: 239, 68, 68;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d23c3c;
    --ion-color-danger-tint: #f15757;

    --ion-color-medium: #64748b;
    --ion-color-medium-rgb: 100, 116, 139;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #58667a;
    --ion-color-medium-tint: #738297;

    --ion-color-light: #f1f5f9;
    --ion-color-light-rgb: 241, 245, 249;
    --ion-color-light-contrast: #0f172a;
    --ion-color-light-contrast-rgb: 15, 23, 42;
    --ion-color-light-shade: #d4d8db;
    --ion-color-light-tint: #f2f6fa;
}

@media (prefers-color-scheme: dark) {
    body {
        --ion-color-primary: #6366f1;
        --ion-color-primary-rgb: 99, 102, 241;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #575ad4;
        --ion-color-primary-tint: #7275f2;

        --ion-background-color: #0f172a;
        --ion-background-color-rgb: 15, 23, 42;

        --ion-text-color: #f1f5f9;
        --ion-text-color-rgb: 241, 245, 249;

        --ion-color-step-50: #1e293b;
        --ion-color-step-100: #334155;
        --ion-color-step-150: #475569;
        --ion-color-step-200: #64748b;
        --ion-color-step-250: #94a3b8;
        --ion-color-step-300: #cbd5e1;
        --ion-color-step-350: #e2e8f0;
        --ion-color-step-400: #f1f5f9;
        --ion-color-step-450: #f8fafc;
        --ion-color-step-500: #ffffff;
    }
}