.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(79, 70, 229, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
  }
}

ion-item {
  --background: white;
  --border-radius: 16px;
}

ion-content {
  --background: #f8fafc;
}